.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

body {
    color: white;
    margin: 0px;
    background-image: url("resources/background.png");
    background-repeat: repeat;
    font-family: "Libre Baskerville", serif;
    background-color: #000000;
}

header {
    margin: 0px;
    height: 200px;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: white;
    box-shadow: #000000 0px 30px 50px 0px;
}

section {
    margin-top: 50px;
}

footer {
    padding: 20px;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    background-color: #000000;
    box-shadow: #000000 0px -30px 50px -10px;
}

footer > *{
    display: inline;
    padding: 10px;
}

@media (max-width: 1280px) {
    .hide-mobile {
      display: none;
    }
}

footer > p > a {
    padding: 5px;
    color: transparent; 
}

footer > p > a > img {
    width: 25px;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

slideshow {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

slide {
    display:none;
    border-radius: 1%;
    width: 50%;
}

panel {
    margin: 20px 0;
    display: grid;
    color: black; 
    text-align: left;
    border: 0;
    padding: 15px;
    border-radius: 6px;
    background-color: #fff;  
}

game {
    margin: 20px 0;
    display: grid;
    color: black; 
    text-align: left;
    border: 0;
    padding: 15px;
    border-radius: 6px;
    background-color: #fff;  
}

game > h2, h4 {
    margin: 0 0 10px;
}

game > a {
    margin-top: 10px;
}

game > img {
    border-radius: 6px;
    max-width: 100%;
    height: auto;
}

game-page {
    display: block;
    text-align: center; 
    padding: 30px;
    margin: 0 auto;
}

game-page > p {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

a {
    color: hsl(332, 100%, 50%);
}


game-page > h1 {
    font-size: 2rem;
}

.slideshow-button {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.slideshow-button:active {
    background-color: #000000;
    color: white;
}

.slideshow-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.game-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #231f20;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.itch-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #231f20;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}


.game-jolt-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #231f20;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.video-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #231f20;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.jam-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #231f20;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.video-button:hover {
    background-color: #e92a2a;
    color: black;
}

.game-button:hover {
    background-color: #ffc400;
    color: black;
}

.itch-button:hover {
    background-color: #dee980;
    color: rgb(0, 0, 0);
}

.game-jolt-button:hover {
    background-color: #6dce6d;
    color: rgb(0, 0, 0);
}

.jam-button:hover {
    background-color: hsl(332, 100%, 50%);
    color: black;
}

.game-button:active, .jam-button:active, .video-button:active, .itch-button:active, .game-jolt-button:active  {
    background-color: #231f20;
    color: white;
}
